.navbar a{
    color: white;
    transition: 0.25s;
}
.navbar a:hover{
    color: yellowgreen;
}
.navbar-brand img{
    filter: brightness(90%) saturate(130%);
    transition: 0.25s;
}
.navbar-brand img:hover{
    filter: brightness(80%) saturate(160%) contrast(160%);
}